<h1>Editing Travel Post Attachment</h1>

<%= render 'form', travel_post_attachment: @travel_post_attachment %>

<%= link_to 'Show', @travel_post_attachment %> |
<%= link_to 'Back', travel_post_attachments_path %>
