<style>
  textarea {
    width : 100%;
    font-size: 12px;
  }
</style>

<div class="row">
  <div class="mx_auto_comment">
    <div id="comments_form_<%=comment.travel_post.id%>">
      <%= simple_form_for([comment.travel_post, comment], remote: true ) do | f | %>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Message</label>
            <%= f.input :body, label: false, placeholder: 'Message', input_html: { rows: 5 } %>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br>
        <div id="success"></div>
        <div class="form-group">
          <%= f.button :submit, 'send', class: 'btn btn-primary'  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
