<%= simple_form_for @calendar, remote: true do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input_field :start, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.input_field :end, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
  </div>


<% end %>
