<style>
  .button {
    background: white;
    border: 1px solid lightgray;
    margin-top: 10px;
  }
</style>

<div class="container">
  <div id="calendars"></div>
  <button class="btn btn-sm button">추가</button>
</div>

<div id='remote_container'></div>
<div id='remote_new_container'></div>

<script>
  $('#calendars').fullCalendar({
      themeSystem: 'bootstrap4',
      header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,listMonth'
      },
      height: "auto",
      eventLimit: true, // allow "more" link when too many calendars
      selectable: true,
      selectHelper: true,
      editable: true,
      eventLimit: true,
      events: '/calendars.json',
      timeFormat: 'HH:mm(HH:mm)',

      eventDrop: function(event, delta, revertFunc) {
          event_data = {
              calendar: {
                  id: event.id,
                  start: event.start.format(),
                  end: event.end.format()
              }
          };
          $.ajax({
              url: event.update_url,
              data: event_data,
              type: 'PATCH'
          });
      },

      eventClick: function(event, jsEvent, view) {
          $.getScript(event.edit_url, function() {
              $('#event_date_range').val(moment(event.start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(event.end).format("MM/DD/YYYY HH:mm"))
              date_range_picker();
              $('.start_hidden').val(moment(event.start).format('YYYY-MM-DD HH:mm'));
              $('.end_hidden').val(moment(event.end).format('YYYY-MM-DD HH:mm'));
          });
      }
  });
  $('.fc-sat').css('color','blue');
  $('.fc-sun').css('color','red');


  $('.button').click(function(event) {
      $.getScript('<%= new_calendar_path %>', function() {
          $('#event_date_range').val(moment(event.start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(event.end).format("MM/DD/YYYY HH:mm"))
          date_range_picker();
          $('.start_hidden').val(moment(event.start).format('YYYY-MM-DD HH:mm'));
          $('.end_hidden').val(moment(event.end).format('YYYY-MM-DD HH:mm'));
      });
  });
</script>