// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like-text {
  display: block;
  float: left;
  color: #FC5B1F;
  margin-right: 8px;
}

img.like-icon {
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  padding-top:1px;
  margin-right: 4px;
}

span.nickname {
  font-size: 13px;
  color: #30AEB4;
}

.info {
  display: block;
  /*margin: 0 0 12px 0;*/
  margin: 0 0 8px 0;
  padding: 0 0 0 0;
  font-size: 12px;
  /*height: 14px;*/
  color: #aaaaaa;
  text-shadow: none;
  font-weight: normal;
  overflow: auto;
  word-break: break-all;
  text-overflow: ellipsis;
}


li {
  list-style:none;
  border-bottom: 1px solid #ededed;
}

.text-box h1{
  display: block;
  margin: 6px 0 4px 0;
  padding: 0 0 0 0;
  font-size: 16px;
  color: #4d4d4d;
  text-shadow: none;
  font-weight: bold;
}

.button {
  display: block;
  float: right;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  color: #4D4D4D;
  font-family: 'godo_mregular', 'NanumGothic', 'Malgun Gothic', 'AppleGothic', 'Dotum', sans-serif !important;
  padding-top: 6px;
  padding-bottom: 4px;
  text-shadow: none;
  text-align: center;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  vertical-align: middle;
  border: 1px solid #CBCBCC;
  border-radius: 3px;
  margin: 0 8px 0 0;
  height: 21px;
}

.float-right {
  float: right;
  margin-left: 8px;
}

.icon {
  display: inline-block;
  float: left;
  margin: 2px 4px 0 0;
  padding: 0 0 0 0;
  width: 13.5px;
  height: 13.5px;
}

.orange {
  color: #FC5B1F;
}

.letter-button-box {
  display: block;
  margin: 9px 16px 18px 16px;
  padding: 0 0 0 0;
  overflow: auto;
}